

<div class="container">
  <h3>Importe seus antigos dados para o SageOne</h3>
  <%= form_tag import_products_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Importar" %>
  <% end %>  
</div>



